doctype html
html
  head
    meta(charset='UTF-8')
    title 2048
    link(rel='stylesheet prefetch', href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i')
    link(rel='stylesheet', href='style.css')
  body
    .container
      h1 2048
      h3 Created by Wei.
      #game2048

  script(src='index.js')